<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="connStr" value="Server = 	qds172742687.my3w.com;Database = qds172742687_db;User ID = qds172742687;Password = naivepainter;Trusted_Connection = False;"/>
  </appSettings>
</configuration>